@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: hsl(228, 33%, 97%);
}

body {
  background: var(--background);
  font-family: "Rubik", sans-serif;
}

@layer base {
  .num-comments{
    @apply cursor-pointer fill-[#C5C6EF] group-hover:fill-purple transition duration-300
  }

  .reply{
    @apply cursor-pointer fill-purple group-hover:fill-[#C5C6EF] transition duration-300
  }
}
